@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MixdTape.Models.Post>
<div class="dock">
    <h2 class="title">Mixd Tape</h2>
</div>
@if (Model.Any())
{
    @foreach (var listPost in Model)
    {
        <h2>@Html.DisplayFor(modelPost => listPost.Description)</h2>
            <div class="postImg">
                <img src="@Html.DisplayFor(modelProduct => listPost.ImagePath)" />
            </div>
            @if (User.Identity.IsAuthenticated)
            {

                <p>@Html.ActionLink("Edit", "Edit", new { id = listPost.Id })</p>

            }
    }
}

<div class="panel">
    <div class="pitchfork">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <script class="pitchfork" type="text/javascript" src="http://output25.rssinclude.com/output?type=js&amp;id=1148492&amp;hash=aaca347b484c2164752f31d0d749fd7a"></script>
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div>
</div><!--/row-->


@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Create new", "Create")</p>

}
