@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MixdTape.Models.Artist

<div class="create">
    <h2 id="createpost">Add an artist to your favorites</h2>
    <div class="container">
        <div class="createpost">
            @using (Html.BeginForm())
            {
                <div class="form">
                    <div class="form-group">

                        @Html.LabelFor(model => model.Name)
                        @Html.EditorFor(model => model.Name)
                        <br />
                        <br />


                        @Html.LabelFor(model => model.ImgUrl)
                        @Html.EditorFor(model => model.ImgUrl)
                        <br />
                        <br />
                        <input type="submit" value="Create" class="btn btn-warning" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>