@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MixdTape.Models.Artist>
<div class="dock">
    <h2 class="title">Favorite Artists</h2>
    <p>@Html.ActionLink("Add artists", "Create")</p>
</div>
<div class="flex-grid">

    @if (Model.Any())
    {
        @foreach (var listPost in Model)
        {
            <div class="flex-grid-thirds">
                <div class="col">
                    <h2>@Html.DisplayFor(modelPost => listPost.Name)</h2>
                    <div class="postImg">
                        <img src="@Html.DisplayFor(modelProduct => listPost.ImgUrl)" id="favimg" />
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {

                        <p>@Html.ActionLink("Edit", "Edit", new { id = listPost.ArtistId })</p>

                    }
                </div>
            </div>
        }
    }
</div>

    


 
