
@{
    ViewBag.Title = "Get Track";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MixdTape.Models.Artist>

<h2>Artist</h2>
<hr />
<ol>
    @foreach (var artist in Model)
    {
        <li>
            <ul>
                <li>@Html.DisplayFor(modelItem => artist.Name)</li>
            </ul>
        </li>
    }
</ol>


@Html.ActionLink("Back home", "Index")
