@{
    ViewData["Title"] = "Mixd Tape";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="artist" action="GetArtists">
    <label>Artist name:</label>
    <input id="artist" name="searchedArtist" />
    <button type="submit">Submit</button>
</form>

<form class="secondArtist" action="GetTracks">
    <label>Artist2 name:</label>
    <input id="secondArtist" name="artist2" />
    <button type="submit">Submit</button>
</form>

<div id="search-result">

</div>
<div id="track-result">

</div>