@{
    ViewData["Title"] = "Mixd Tape";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Create.cshtml")

<form class="artist" action="GetArtists">
    <label>Artist name:</label>
    <input id="artist" name="searchedArtist" />
    <button type="submit">Submit</button>
</form>


<div id="search-result">

</div>

<div id="track-result">

</div>

@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Create new", "Create")</p>

}