@{
    ViewData["Title"] = "Mixd Tape";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="artist" action="GetArtists">
    <h2>Related Artists</h2>
    <p>Search to find new favorite artists based on what you already like...</p>
    <br />
    <label id="artistname">Enter artist name</label>
    <br />
    <input id="artist" name="searchedArtist" />
    <button type="submit" class="btn btn-warning">Submit</button>
    <br />
    <br />
    <br />
</form>


 <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Related Artists</h4>
            </div>
            <div class="modal-body">
                <div id="search-result">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


    

@Html.Partial("Favorite.cshtml")
     