  .login {
    position: absolute;
    z-index: 1;
    margin-top: -900px;
    text-align: center;
    border-radius: 20%;
    width: 240px;
    padding: 150px;
    margin-left: 34%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px -1px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 33px 0px rgba(0,0,0,0.75);
box-shadow: 0px -1px 33px 0px rgba(0,0,0,0.75);
    font-family: font-family: 'Rock Salt', cursive;

}

.loginbody {
    background-image: url("https://images.pexels.com/photos/159376/turntable-top-view-audio-equipment-159376.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    height: 100vh;
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
    
}

.loginTitle {
    font-family:'Rock Salt', cursive;
    color: gray;
    font-size: 40px;
    margin-top: -10px;
}

.secondTitle {
    font-family:'Rock Salt', cursive;
    color: gray;
    font-size: 10px;
}

#profile {
    font-size: 40px;

}

.profile-heading {
    margin-left: 35%;
}

.list-group-item active {
    background-color: black;
    color: white;
}

#rock {
    margin-left: 39%;
    padding: 1%;
    height: 200px;
    border: 6px double purple;
}

.jumbotron{
  position: relative;
    overflow: hidden;
    height: 60%;
    background-color: white;
 
  /* Tried setting the height. Didnt work either */
  /* height: 200px; */
}
.container {
  position: relative;
  color: black;
  z-index: 2
}

.hello {
    margin-top: 20px;
    margin-left: 10%;
    color: white;
    width: 50%;
    height: 80%;
    text-align: center;
}

#hello {
    font-size: 50px;
}

#search {
    text-align: center;
    font-size: 40px;
}

.logout {
    margin-top: 3%;
}

#navbar {
    float: right;
    margin-right: 1%;
}

.navbar-brand {
   float: left !important;
}


#video-background{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  background-size: contain !important;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

